{% extends "base.html" %}
{% load static %}
{% block title %}公司概况{% endblock %}
{% block content %}
    <!-- 横幅 -->
    <div class="container-fluid">
        <div class="row">
            <img class="img-responsive model-img" src="{% static 'img/kongfu3.jpg' %}" 
            style="height:500px ; width:100%;">
        </div>
    </div>

    <div class="container" style="width: 100%;">
        <div class="row row-3">
            <!-- 侧边栏 -->
            <div class="col-md-3">
                <div class="model-title">
                    公司简介
                </div>
                <div class="model-list">
                    <ul class="list-group">
                        <li class="list-group-item" id="survey">
                            <a href="{% url 'introduce:survey' %}">企业概况</a>
                        </li>
                        <li class="list-group-item" id="honor">
                            <a href="{% url 'introduce:honor' %}">荣誉资质</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- 说明文字和图片 -->
            <div class="col-md-9">
                <div class="row">
                    <img class="img-responsive model-img" src="{% static 'img/huashan.jpg' %}" 
                    style="width:100%;">
                    <p>
                        华山，古称“西岳”，雅称“太华山”，为五岳之一，位于陕西省渭南市华阴市，在省会西安以东120千米处。南接秦岭山脉，北瞰黄渭，自古以来就有“奇险天下第一山”的说法。 [1-3]
中华之“华”源于华山，由此，华山有了“华夏之根”之称 [3-4]。华山是中国道教主流全真派圣地，为“第四洞天”，也是中国民间广泛崇奉的神祇，即西岳华山君神。共有72个半悬空洞，道观20余座，其中玉泉院、都龙庙、东道院、镇岳宫被列为全国重点道教宫观，有陈抟、郝大通、贺元希等著名的道教高人。
1982年，华山被国务院颁布为首批国家级风景名胜区。2004年，华山被评为中华十大名山。2011年，华山被国家旅游局评为国家AAAAA级旅游景区。华山山脉是深成侵入岩体的花岗岩浑然巨石，顶部是粗粒（粒径5毫米）斑状花岗岩；中部是中粒（粒径2—5毫米）花岗河长岩及片麻状花岗岩。据地质科学工作者用放射性同位素测定，华山花岗岩形成期距今约12100万年左右，华山山脉地区的地壳发生活动，在受挤压、褶皱和破裂的过程中，岩浆开始沿着裂缝向表层地壳上升侵入，在3—6千米深处冷却，凝结成岩。
从新生代燕山期约7000万年以前，华山山脉的地壳继续上升，而渭河地带相反向下凹陷。这种内动力地壳作用，时快时慢，时断时续，显现出东西一线上并列着许多平整的三角形或梯形面，形成了秦岭北麓的大断层。这些大致平行的东西向断层，将山地割切成若干长条形断块。断块在彼此相互上升下降活动中，多呈北翘、南俯的岭谷相间的地形。同时，也出现了许多与东西向斜交的断层，使原长条形断块被切成多段。各段地发生前后错动，形成复杂运动。加之雨水、阳光、冰冻、流水等各种外力作用的相互影响，花岗岩才直接露出空间。
华山花岗岩有较多而明显的以北20度向西走的节理和断层。其他的还有南北走向，北30度西向的、北10度东向的、北50度东向的。此外还有近乎水平之大小纵横的断层和节理，将完整的花岗岩体分割成大大小小的岩块，在纵横河流的切割活动中，风化剥蚀形成了一座峻秀的山峰和许许多多奇形怪状的岩石。
东、西、南三峰呈鼎形相依，为华山主峰。中峰、北峰相辅，周围各小峰环卫而立，宛如青莲层层花瓣，形成华山挺拔峻秀的特殊魅力。
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}